/*----------------------------------------------------*/
.content_wrap section {
    background-color: #fff;
}

.shop_banner {
    padding-top: 10px;
    display: block;
    overflow: hidden;
}

    .shop_banner img {
        max-width: 100%;
    }

    .shop_banner .banner_slider .carousel-inner .carousel-item {
        z-index: 1;
    }

        .shop_banner .banner_slider .carousel-inner .carousel-item:after {
            content: "";
            position: absolute;
            left: 0;
            top: 0;
            bottom: 0;
            right: 0;
            background-image: -moz-linear-gradient(-177deg, #2e02f5 0%, #ef9d22 100%);
            background-image: -webkit-linear-gradient(-177deg, #2e02f5 0%, #ef9d22 100%);
            background-image: -ms-linear-gradient(-177deg, #2e02f5 0%, #ef9d22 100%);
            opacity: 0.122;
            display: block;
        }

        .shop_banner .banner_slider .carousel-inner .carousel-item img {
            display: block;
            max-width: 100%;
        }

        .shop_banner .banner_slider .carousel-inner .carousel-item .slider_caption {
            text-align: left;
            position: absolute;
            left: 0;
            right: 0;
            bottom: 65px;
            z-index: 1;
            text-align: center;
        }

            .shop_banner .banner_slider .carousel-inner .carousel-item .slider_caption h2 {
                font: 700 56px/59px "Poppins", sans-serif;
                color: #2b00f7;
                display: block;
                padding-bottom: 95px;
            }

                .shop_banner .banner_slider .carousel-inner .carousel-item .slider_caption h2 span {
                    display: block;
                    color: #fff;
                }

            .shop_banner .banner_slider .carousel-inner .carousel-item .slider_caption a {
                font: 400 22px/50px "Lato", sans-serif;
                color: #fff;
                background: #f09d21;
                min-width: 203px;
                display: inline-block;
            }

                .shop_banner .banner_slider .carousel-inner .carousel-item .slider_caption a:hover,
                .shop_banner .banner_slider .carousel-inner .carousel-item .slider_caption a:focus {
                    background: #2b00f7;
                }

        .shop_banner .banner_slider .carousel-inner .carousel-item .shop_logo {
            position: absolute;
            left: 35px;
            top: 40px;
            z-index: 1;
        }

        .shop_banner .banner_slider .carousel-inner .carousel-item h3 {
            background: #2b00f7;
            border-radius: 50%;
            display: inline-block;
            color: #fff;
            font: 900 italic 25px/30px "Lato", sans-serif;
            position: absolute;
            right: 70px;
            top: 115px;
            height: 150px;
            width: 150px;
            text-align: center;
            z-index: 1;
            padding-top: 50px;
            transform: rotate(-45deg);
        }

        .shop_banner .banner_slider .carousel-inner .carousel-item h1 {
            color: #fff;
            font: 900 58px/1 "Lato", sans-serif;
            position: absolute;
            bottom: 30px;
            left: 20px;
            z-index: 1;
        }

    .shop_banner .banner_slider .carousel-indicators {
        left: auto;
        right: 40px;
        bottom: 14px;
        margin: 0;
    }

        .shop_banner .banner_slider .carousel-indicators li {
            height: 9px;
            width: 9px;
            border-radius: 50%;
            background: #ffaf49;
            cursor: pointer;
            border: 0px;
        }

            .shop_banner .banner_slider .carousel-indicators li:hover,
            .shop_banner .banner_slider .carousel-indicators li:focus,
            .shop_banner .banner_slider .carousel-indicators li.active {
                background: #fff;
            }

    .shop_banner .slider_offer {
        margin-top: 30px;
        position: relative;
        z-index: 1;
    }

        .shop_banner .slider_offer:after {
            content: "";
            position: absolute;
            left: 0;
            top: 0;
            bottom: 0;
            right: 0;
            background-image: -moz-linear-gradient(180deg, #3105f2 0%, #f09d21 100%);
            background-image: -webkit-linear-gradient(180deg, #3105f2 0%, #f09d21 100%);
            background-image: -ms-linear-gradient(180deg, #3105f2 0%, #f09d21 100%);
            opacity: 0.6;
            display: block;
        }

        .shop_banner .slider_offer img {
            max-width: 100%;
        }

        .shop_banner .slider_offer a {
            color: #fff;
            font: 900 italic 30px/1 "Lato", sans-serif;
            position: absolute;
            left: 0;
            right: 0;
            top: 50%;
            transform: translateY(-50%);
            text-align: center;
            display: block;
            z-index: 1;
        }

            .shop_banner .slider_offer a:hover,
            .shop_banner .slider_offer a:focus {
                color: #2b00f7;
            }

        .shop_banner .slider_offer .middle_offer {
            color: #fff;
            font: 900 italic 53px/1 "Lato", sans-serif;
            position: absolute;
            left: 0;
            right: 0;
            top: 50%;
            transform: translateY(-50%);
            text-align: center;
            display: block;
            z-index: 1;
        }

            .shop_banner .slider_offer .middle_offer small {
                font-size: 25px;
                font: 400 25px/1 "Lato", sans-serif;
                display: block;
                padding-top: 25px;
            }

            .shop_banner .slider_offer .middle_offer:hover,
            .shop_banner .slider_offer .middle_offer:focus {
                color: #2b00f7;
            }

    .shop_banner .add_aera {
        text-align: center;
        margin: -10px 0 20px;
        display: block;
        overflow: hidden;
    }

/* shop_with_sidebar */
.shop_with_sidebar {
    display: block;
    overflow: hidden;
    padding-top: 10px;
    padding-bottom: 100px;
    background-color: #fff;
}

    .shop_with_sidebar .shop_left_sidebar {
        /* next_pages */
    }

        .shop_with_sidebar .shop_left_sidebar .shop_items {
            text-align: center;
            margin-bottom: 30px;
            border: 1px solid #f0f0f3;
        }

            .shop_with_sidebar .shop_left_sidebar .shop_items .shop_img {
                display: block;
                overflow: hidden;
                height:70%;
            }

                .shop_with_sidebar .shop_left_sidebar .shop_items .shop_img img {
                    width: 100%;
                    height:100%;
                    transition: all 500ms linear 0s;
                    object-fit:cover;
                }

            .shop_with_sidebar .shop_left_sidebar .shop_items:hover .shop_img img,
            .shop_with_sidebar .shop_left_sidebar .shop_items:focus .shop_img img {
                transform: scale3D(1.1, 1.1, 1);
            }

            .shop_with_sidebar .shop_left_sidebar .shop_items:hover .shop_text .s_heding,
            .shop_with_sidebar .shop_left_sidebar .shop_items:focus .shop_text .s_heding {
                color: #2b00f7;
            }

            .shop_with_sidebar .shop_left_sidebar .shop_items .shop_text {
                border-top: 1px solid #f0f0f3;
                display: block;
                overflow: hidden;
                padding-bottom: 8px;
            }

                .shop_with_sidebar .shop_left_sidebar .shop_items .shop_text .s_heding {
                    display: block;
                    font: 500 14px/20px "Poppins", sans-serif;
                    color: #242222;
                    padding: 5px;
                }

                .shop_with_sidebar .shop_left_sidebar .shop_items .shop_text h4 {
                    font: 500 14px/1 "Poppins", sans-serif;
                    color: #0ba22e;                   
          /*          padding-bottom: 15px;*/
                }

                .shop_with_sidebar .shop_left_sidebar .shop_items .shop_text .theme_btn {
                    background: #f09d21;
                    text-transform: uppercase;
                    font: 600 15px/40px "Source Sans Pro", sans-serif;
                    min-width: 130px;
                    border-radius: 0;
                    color: #fff;
                    display: inline-block;
                }

                    .shop_with_sidebar .shop_left_sidebar .shop_items .shop_text .theme_btn:hover,
                    .shop_with_sidebar .shop_left_sidebar .shop_items .shop_text .theme_btn:focus {
                        background: #1890ff;
                    }

        .shop_with_sidebar .shop_left_sidebar .pagination_area {
            margin: 20px 0 0;
        }

            .shop_with_sidebar .shop_left_sidebar .pagination_area .pagination {
                display: block;
                text-align: center;
            }

                .shop_with_sidebar .shop_left_sidebar .pagination_area .pagination li {
                    display: inline-block;
                    padding: 0;
                }

                    .shop_with_sidebar .shop_left_sidebar .pagination_area .pagination li a {
                        font: 400 20px/46px "Poppins", sans-serif;
                        color: #fff;
                        background: #f09d21;
                        width: 46px;
                        border-radius: 50%;
                        border: 0;
                        padding: 0;
                        text-align: center;
                        display: inline-block;
                        margin: 0 7px;
                        min-width: auto;
                    }

                        .shop_with_sidebar .shop_left_sidebar .pagination_area .pagination li a i {
                            font-size: 12px;
                            position: relative;
                            top: -3px;
                        }

                        .shop_with_sidebar .shop_left_sidebar .pagination_area .pagination li a:hover,
                        .shop_with_sidebar .shop_left_sidebar .pagination_area .pagination li a:focus,
                        .shop_with_sidebar .shop_left_sidebar .pagination_area .pagination li a.active {
                            background: #2b00f7;
                            color: #fff;
                        }

        .shop_with_sidebar .shop_left_sidebar .r_heding {
            position: relative;
            font: 500 22px/50px "Poppins", sans-serif;
            color: #242222;
            margin-bottom: 50px;
        }

            .shop_with_sidebar .shop_left_sidebar .r_heding:after {
                content: "";
                position: absolute;
                width: 85px;
                height: 2px;
                background: red;
                left: 0;
                bottom: 0;
            }

        .shop_with_sidebar .shop_left_sidebar .min_img img {
            width: 100%;
            border: 1px solid #f0f1ea;
        }

        .shop_with_sidebar .shop_left_sidebar .min_img .product_size {
            padding-top: 40px;
        }

            .shop_with_sidebar .shop_left_sidebar .min_img .product_size li {
                display: inline-block;
                margin-left: 17px;
                font: 400 16px/32px "Source Sans Pro", sans-serif;
                color: #242222;
                border: 1px solid #e3e3e3;
                text-align: center;
                padding: 0 10px;
                cursor: pointer;
            }

                .shop_with_sidebar .shop_left_sidebar .min_img .product_size li:first-child {
                    border: 0;
                    margin: 0;
                    font-weight: 600;
                    padding: 0;
                    background-color: transparent !important;
                    color: #242222 !important;
                }

                .shop_with_sidebar .shop_left_sidebar .min_img .product_size li:hover,
                .shop_with_sidebar .shop_left_sidebar .min_img .product_size li:focus,
                .shop_with_sidebar .shop_left_sidebar .min_img .product_size li.active {
                    background: #2b00f7;
                    color: #fff;
                }

        .shop_with_sidebar .shop_left_sidebar .product_details {
            padding: 5px;
            margin-left: 0px;
        }

            .shop_with_sidebar .shop_left_sidebar .product_details h2 {
                font: 500 20px/45px "Poppins", sans-serif;
                color: #242222;
                margin-top: -5px;
                padding-bottom: 5px;
            }

            .shop_with_sidebar .shop_left_sidebar .product_details h1 {
                font: 700 32px/50px "Source Sans Pro", sans-serif;
                color: #f7a000;
                display: -webkit-flex;
                display: -moz-flex;
                display: -ms-flex;
                display: -o-flex;
                display: flex;
                align-items: center;
            }

                .shop_with_sidebar .shop_left_sidebar .product_details h1 span {
                    color: rgba(36, 34, 34, 0.702);
                    font-size: 24px;
                    text-decoration: line-through;
                    padding: 0 35px;
                }

                .shop_with_sidebar .shop_left_sidebar .product_details h1 small {
                    font: 400 14px "Source Sans Pro", sans-serif;
                    color: #f09d21;
                }

            .shop_with_sidebar .shop_left_sidebar .product_details h4 {
                font: 600 16px/32px "Source Sans Pro", sans-serif;
                color: #242222;
                padding-top: 7px;
            }

            .shop_with_sidebar .shop_left_sidebar .product_details .rating {
                padding-top: 15px;
                padding-bottom: 22px;
            }

                .shop_with_sidebar .shop_left_sidebar .product_details .rating li a {
                    font-size: 16px;
                    color: #f86227;
                }

            .shop_with_sidebar .shop_left_sidebar .product_details p {
                line-height: 30px;
            }

            .shop_with_sidebar .shop_left_sidebar .product_details .value-section {
                padding-top: 15px;
            }

                .shop_with_sidebar .shop_left_sidebar .product_details .value-section li {
                    display: inline-block;
                    font: 400 18px/40px "Source Sans Pro", sans-serif;
                    color: #fff;
                    text-align: center;
                    cursor: pointer;
                }

                    .shop_with_sidebar .shop_left_sidebar .product_details .value-section li:last-child {
                        margin: 0;
                    }

                    .shop_with_sidebar .shop_left_sidebar .product_details .value-section li button {
                        border: 0;
                        padding: 0;
                        margin: 0;
                        box-shadow: none;
                        outline: none;
                        color: #fff;
                        font-size: 18px;
                        background-color: #2b00f7;
                        cursor: pointer;
                        min-width: 70px;
                    }

                    .shop_with_sidebar .shop_left_sidebar .product_details .value-section li#product-value {
                        background: #eeeded;
                        width: 70px;
                        color: rgba(0, 0, 0, 0.702);
                    }

                    .shop_with_sidebar .shop_left_sidebar .product_details .value-section li .theme_btn {
                        min-width: 130px;
                        line-height: 40px;
                        text-transform: uppercase;
                        font-size: 15px;
                        color: #fff;
                        background: #f09d21;
                        font-family: "Source Sans Pro", sans-serif;
                        border-radius: 0;
                        font-weight: 600;
                        display: inline-block;
                        margin-left: 20px;
                    }

                        .shop_with_sidebar .shop_left_sidebar .product_details .value-section li .theme_btn:hover,
                        .shop_with_sidebar .shop_left_sidebar .product_details .value-section li .theme_btn:focus {
                            background: #1890ff;
                            color: #fff;
                        }

        .shop_with_sidebar .shop_left_sidebar .review-tab {
            padding: 55px 15px;
        }

            .shop_with_sidebar .shop_left_sidebar .review-tab .nav-tabs {
                margin: 0;
                border: 0;
            }

                .shop_with_sidebar .shop_left_sidebar .review-tab .nav-tabs li a {
                    border-radius: 0;
                    margin-right: 4px;
                    line-height: 50px;
                    font-size: 20px;
                    padding: 0 30px;
                    font-weight: 500;
                    display: inline-block;
                    background: #eeeded;
                    color: #242222;
                }

                    .shop_with_sidebar .shop_left_sidebar .review-tab .nav-tabs li a:hover,
                    .shop_with_sidebar .shop_left_sidebar .review-tab .nav-tabs li a:focus,
                    .shop_with_sidebar .shop_left_sidebar .review-tab .nav-tabs li a.active {
                        color: #fff;
                        background: #f09d21;
                    }

            .shop_with_sidebar .shop_left_sidebar .review-tab .tab-content {
                padding: 5px;
            }

                .shop_with_sidebar .shop_left_sidebar .review-tab .tab-content p {
                    line-height: 35px;
                    font-size: 16px;
                    padding-top: 25px;
                }
                .shop_with_sidebar .shop_left_sidebar .review-tab .tab-content img{
                    max-width:100%;
                    object-fit:cover;
                }
    .shop_with_sidebar .shop_right_sidebar .input-group input {
        box-shadow: none;
        border: 1px solid #eeeeee;
        font: 400 15px/45px "Poppins", sans-serif;
        color: rgba(0, 0, 0, 0.42);
        border-radius: 0;
        padding: 0 20px;
        padding-right: 0;
    }

        .shop_with_sidebar .shop_right_sidebar .input-group input.placeholder {
            color: rgba(0, 0, 0, 0.42);
        }

        .shop_with_sidebar .shop_right_sidebar .input-group input:-moz-placeholder {
            color: rgba(0, 0, 0, 0.42);
        }

        .shop_with_sidebar .shop_right_sidebar .input-group input::-moz-placeholder {
            color: rgba(0, 0, 0, 0.42);
        }

        .shop_with_sidebar .shop_right_sidebar .input-group input::-webkit-input-placeholder {
            color: rgba(0, 0, 0, 0.42);
        }

        .shop_with_sidebar .shop_right_sidebar .input-group input:focus {
            border-color: #2b00f7;
        }

            .shop_with_sidebar .shop_right_sidebar .input-group input:focus.placeholder {
                color: transparent;
            }

            .shop_with_sidebar .shop_right_sidebar .input-group input:focus:-moz-placeholder {
                color: transparent;
            }

            .shop_with_sidebar .shop_right_sidebar .input-group input:focus::-moz-placeholder {
                color: transparent;
            }

            .shop_with_sidebar .shop_right_sidebar .input-group input:focus::-webkit-input-placeholder {
                color: transparent;
            }

    .shop_with_sidebar .shop_right_sidebar .input-group .input-group-append {
        border: 0;
        cursor: pointer;
    }

        .shop_with_sidebar .shop_right_sidebar .input-group .input-group-append span {
            border: 0;
            padding: 0 20px;
            border-radius: 0;
            color: #fff;
            font-size: 16px;
            min-width: 56px;
            text-align: center;
            background: #1890ff;
        }

            .shop_with_sidebar .shop_right_sidebar .input-group .input-group-append span i {
                font-size: 16px;
                padding: 0;
                position: inherit;
                top: 0;
                left: 0;
                right: 0;
            }

            .shop_with_sidebar .shop_right_sidebar .input-group .input-group-append span:hover,
            .shop_with_sidebar .shop_right_sidebar .input-group .input-group-append span:focus {
                background: #f09d21;
                color: #fff;
            }

    .shop_with_sidebar .shop_right_sidebar .s_widget {
        padding-top: 25px;
    }

        .shop_with_sidebar .shop_right_sidebar .s_widget h4 {
            position: relative;
            font: 500 20px/50px "Poppins", sans-serif;
            color: #242222;
        }

            .shop_with_sidebar .shop_right_sidebar .s_widget h4:after {
                content: "";
                position: absolute;
                width: 85px;
                height: 2px;
                background: #f09d21;
                left: 0;
                bottom: 0;
            }

        .shop_with_sidebar .shop_right_sidebar .s_widget .side-section {
            padding: 10px 0 0 10px;
            background-color: #fafafa;
            list-style: none;
        }

        .shop_with_sidebar .shop_right_sidebar .s_widget .categories li a {
            font: 400 16px/40px "Poppins", sans-serif;
            color: #888787;
        }

            .shop_with_sidebar .shop_right_sidebar .s_widget .categories li a:hover,
            .shop_with_sidebar .shop_right_sidebar .s_widget .categories li a:focus {
                color: #2b00f7;
            }

            .shop_with_sidebar .shop_right_sidebar .s_widget .categories li a.active {
                color: #2b00f7;
            }

    .shop_with_sidebar .shop_right_sidebar .popular_products {
        padding-top: 20px;
    }

        .shop_with_sidebar .shop_right_sidebar .popular_products .media_fast {
            padding-top: 10px;
        }

        .shop_with_sidebar .shop_right_sidebar .popular_products .media {
            margin-top: 15px;
            padding-bottom:10px;
        }

            .shop_with_sidebar .shop_right_sidebar .popular_products .media img {
                width: 75px;
                object-fit:cover;
            }

            .shop_with_sidebar .shop_right_sidebar .popular_products .media .media-body {
                padding-left: 20px;
            }

                .shop_with_sidebar .shop_right_sidebar .popular_products .media .media-body a {
                    font: 500 14px/18px "Poppins", sans-serif;
                    color: #242222;
                }

                .shop_with_sidebar .shop_right_sidebar .popular_products .media .media-body h6 {
                    font: 400 14px/1 "Poppins", sans-serif;
                    color: #f09d21;
                    padding-top: 5px;
                }

            .shop_with_sidebar .shop_right_sidebar .popular_products .media:hover .media-body a,
            .shop_with_sidebar .shop_right_sidebar .popular_products .media:focus .media-body a {
                color: #2b00f7;
            }

@media (max-width: 991px) {
    .shop_banner .banner_slider .carousel-inner .carousel-item h1 {
        font-size: 18px;
        bottom: 15px;
        left: 15px;
    }

    .shop_banner .banner_slider .carousel-inner .carousel-item h3 {
        width: 80px;
        height: 80px;
        font-size: 14px;
        line-height: 24px;
        font-weight: 500;
        padding-top: 17px;
        top: 55px;
        right: 20px;
    }

    .shop_with_sidebar .shop_right_sidebar {
        padding-bottom: 60px;
    }

        .shop_with_sidebar .shop_right_sidebar .popular_products {
            display: none;
        }
}

@media (max-width: 767px) {
    .shop_banner .banner_slider .carousel-inner .carousel-item .shop_logo img {
        height: auto;
    }

    .shop_banner .banner_slider .carousel-inner .carousel-item .shop_logo {
        top: 15px;
        left: 15px;
    }

    .shop_banner .banner_slider .carousel-inner .carousel-item img {
        height: 300px;
    }

    .shop_banner .banner_slider .carousel-inner .carousel-item h3 {
        width: 80px;
        height: 80px;
        font-size: 14px;
        line-height: 24px;
        font-weight: 500;
        padding-top: 17px;
        top: 55px;
        right: 20px;
    }

    .shop_with_sidebar .shop_left_sidebar .product_details {
        padding-left: 15px;
        padding-right: 15px;
    }

        .shop_with_sidebar .shop_left_sidebar .product_details h2 {
            margin-top: 20px;
        }

    .shop_with_sidebar .shop_left_sidebar .review-tab .nav-tabs li {
        display: block;
        width: 100%;
    }

        .shop_with_sidebar .shop_left_sidebar .review-tab .nav-tabs li a {
            width: 100%;
            padding: 0;
            text-align: center;
        }
}

@media (max-width: 595px) {
    .shop_with_sidebar .shop_left_sidebar .min_img .product_size li {
        margin-left: 0;
    }

    .shop_with_sidebar .shop_left_sidebar .product_details h2 {
        font-size: 18px;
        line-height: 26px;
    }
}

@media (max-width: 1199px) {
    .shop_with_sidebar .shop_left_sidebar .product_details {
        margin-left: 0;
    }

    .shop_with_sidebar .shop_left_sidebar .review-tab .nav-tabs li a {
        margin-bottom: 0px;
    }
}

.shop_banner .banner_slider .carousel-inner .carousel-item .slider_caption {
    bottom: 40px;
}

    .shop_banner .banner_slider .carousel-inner .carousel-item .slider_caption h2 {
        font-size: 25px;
        line-height: 30px;
    }

.shop_with_sidebar .shop_left_sidebar .shop_items {
    max-width: 270px;
    margin: 0 auto 20px;
    height:220px;
}

.shop_with_sidebar .shop_right_sidebar .popular_products .media .media-body h6.price-free, .price-free {
    color: #0ba22e;
}
