<div class="container">
    <div class="pages_heder">

        <ol class="breadcrumb">
            <li><a href="index-2.html">首页</a></li>
            <li><a href="#">技术</a></li>
            <li><a href="#" class="active">文章</a></li>
        </ol>
    </div>
</div>